@model examenPIV.Models.Producto

@{
    ViewData["Title"] = "Borrar producto";
}

<h1>Borrar producto</h1>

<h3>Desea eliminar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioFabricacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CasaFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CasaFabricacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTratamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTratamiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
